* {
    margin: 0;
    padding: 0;
}

body {
    padding: 2em;
    background-image: linear-gradient(50deg, red, blue, green, yellow);
    background-repeat: no-repeat;
    background-size: cover; 
    user-select: none;
}

[type=radio] {
    display: none;
}

img {
    border-radius: 10em;
}

#slider {
    height: 35.1em;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    position: absolute;
    /* border-radius: 10em; */
    right: 0;
    left: 0;
    cursor: pointer;
    transition: transform 0.5s ease;

}

#photo1:checked ~ #p6, #photo2:checked ~ #p7, #photo3:checked ~ #p8, #photo4:checked ~ #p9, #photo5:checked ~ #p1, #photo6:checked ~ #p2, #photo7:checked ~ #p3, #photo8:checked ~ #p4, #photo9:checked ~ #p5 {
    transform: translate3d(-84%, 0, -600px);
}

#photo1:checked ~ #p7, #photo2:checked ~ #p8, #photo3:checked ~ #p9, #photo4:checked ~ #p1, #photo5:checked ~ #p2, #photo6:checked ~ #p3, #photo7:checked ~ #p4, #photo8:checked ~ #p5, #photo9:checked ~ #p6 {
    transform: translate3d(-63%, 0, -450px);
}

#photo1:checked ~ #p8, #photo2:checked ~ #p9, #photo3:checked ~ #p1, #photo4:checked ~ #p2, #photo5:checked ~ #p3, #photo6:checked ~ #p4, #photo7:checked ~ #p5, #photo8:checked ~ #p6, #photo9:checked ~ #p7 {
    transform: translate3d(-42%, 0, -300px);
}

#photo1:checked ~ #p9, #photo2:checked ~ #p1, #photo3:checked ~ #p2, #photo4:checked ~ #p3, #photo5:checked ~ #p4, #photo6:checked ~ #p5, #photo7:checked ~ #p6, #photo8:checked ~ #p7, #photo9:checked ~ #p8 {
    transform: translate3d(-21%, 0, -150px);
}

#photo1:checked ~ #p1, #photo2:checked ~ #p2, #photo3:checked ~ #p3, #photo4:checked ~ #p4, #photo5:checked ~ #p5, #photo6:checked ~ #p6, #photo7:checked ~ #p7, #photo8:checked ~ #p8, #photo9:checked ~ #p9 {
    transform: translate3d(0,0,0);
}

#photo1:checked ~ #p2, #photo2:checked ~ #p3, #photo3:checked ~ #p4, #photo4:checked ~ #p5, #photo5:checked ~ #p6, #photo6:checked ~ #p7, #photo7:checked ~ #p8, #photo8:checked ~ #p9, #photo9:checked ~ #p1 {
    transform: translate3d(21%, 0, -150px);
}

#photo1:checked ~ #p3, #photo2:checked ~ #p4, #photo3:checked ~ #p5, #photo4:checked ~ #p6, #photo5:checked ~ #p7, #photo6:checked ~ #p8, #photo7:checked ~ #p9, #photo8:checked ~ #p1, #photo9:checked ~ #p2 {
    transform: translate3d(42%, 0, -300px);
}

#photo1:checked ~ #p4, #photo2:checked ~ #p5, #photo3:checked ~ #p6, #photo4:checked ~ #p7, #photo5:checked ~ #p8, #photo6:checked ~ #p9, #photo7:checked ~ #p1, #photo8:checked ~ #p2, #photo9:checked ~ #p3 {
    transform: translate3d(63%, 0, -450px);
}

#photo1:checked ~ #p5, #photo2:checked ~ #p6, #photo3:checked ~ #p7, #photo4:checked ~ #p8, #photo5:checked ~ #p9, #photo6:checked ~ #p1, #photo7:checked ~ #p2, #photo8:checked ~ #p3, #photo9:checked ~ #p4 {
    transform: translate3d(84%, 0, -600px);
}
